form{
    margin-top: 500px;
    margin-left: 300px;
}

@media (min-width : 300px) {
    form{
        margin-left: 100px;
    }
}

#start{
    margin-right: 50px;
    background-color: rgb(32, 210, 32);
}

#stop{
    background-color: rgb(227, 46, 46);
}

#send{
    color: white;
    background-color: rgb(0, 0, 0);
}

textarea{
    border: black;
}
.text{
    border: black;
    width: auto;
}
